body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*  HEADERS  */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.heading--second {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

/*  LINKS  */

.link--1 {
    color: aquamarine;
    font-size: 16px;
}

/*  MAIN  */


p {
    font-size: 21px;
    color: gray;
}

/*  MEDIA  */

.margin {
    margin-top: 22px;
    padding-bottom: 1px;
}

/*  FOOTER  */


.footer--copyright {
    text-align: right;
    color: gray;
}