body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link--1 {
    color: aquamarine;
    font-size: 16px;
}

.heading--second {
    font-weight: 300;
    font-size: 42px;
    color: white;
}